/*--------------------------------------------------------------
Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'roboto_slabregular';
    src: url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-regular-webfont.eot');
    src: url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-regular-webfont.woff') format('woff'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-regular-webfont.ttf') format('truetype'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slabthin';
    src: url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-thin-webfont.eot');
    src: url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-thin-webfont.woff') format('woff'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-thin-webfont.ttf') format('truetype'),
         url('/wp-content/themes/afcc/assets/fonts/roboto-slab/robotoslab-thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/wp-content/themes/afcc/assets/fonts/open-sans/opensans-regular-webfont.eot');
    src: url('/wp-content/themes/afcc/assets/fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/afcc/assets/fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('/wp-content/themes/afcc/assets/fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
         url('/wp-content/themes/afcc/assets/fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
         url('/wp-content/themes/afcc/assets/fonts/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { background: #faf8f4; font-family: 'open_sansregular', sans-serif; }
.login h1 a { width: 272px; height: 97px; background: url(/wp-content/themes/afcc/assets/img/logos/logo.png) no-repeat; }
.login .message { border-color: #dc4439; }
.wp-core-ui .button-primary { border: 2px solid #dc4439; box-shadow: none; background: #dc4439; border-radius: 0;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover { background: #FFF; border-color: #dc4439; color: #dc4439; box-shadow: none; }
input[type=checkbox]:checked:before { color: #dc4439; }
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus { border-color: #dc4439; box-shadow: none; }
.login #backtoblog a, .login #nav a, .login h1 a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover { color: #dc4439; }
